@model MVCApp.Data.OrderDetail

@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>


<dl class="row">
        <dt>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </dt>
            <dd>  @Model.UnitPrice</dd>
            <dt>
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>
             <dd>  @Model.Quantity</dd>
            <dt>
                @Html.DisplayNameFor(model => model.Discount)
            </dt>
             <dd>    @Model.Discount</dd>
            <dt>
                @Html.DisplayNameFor(model => model.OrderId)
            </dt>
             <dd>   @Html.DisplayFor(model => model.Order.OrderId)</dd>
            <dt>
                @Html.DisplayNameFor(model => model.Product.ProductName)
            </dt>
             <dd>   @Html.DisplayFor(model => model.Product.ProductName)</dd>
    </dl>