@model IEnumerable<MVCApp.Data.Order>

@{
    ViewData["Title"] = "Orders";
}

<h1 class="text-center">Orders</h1>
<p class="text-center">Total orders: @Model.Count()</p>
<div class="searchContainer">
 <div class="d-inline-flex align-items-center">
 <div class="col-auto my-1 d-inline-flex align-items-center">
<label class="col-auto mx-2" >Choose a filter:</label>
<select onchange="onSelect()" id="itemsSelect" class="form-select">
 <option value=0 selected="selected"> Select Filter</option>
    <option value=1 > @Html.DisplayNameFor(model => model.OrderDate)</option>
    <option value=2>@Html.DisplayNameFor(model => model.RequiredDate)</option>
    <option value=3>@Html.DisplayNameFor(model => model.ShippedDate) </option>
    <option value=4>@Html.DisplayNameFor(model => model.Freight) </option>
    <option value=5>@Html.DisplayNameFor(model => model.ShipName)</option>
    <option value=6>Address </option>
    <option value=7>City</option>
    <option value=8>Region </option>
    <option value=9> Postcode</option>
    <option value=10> Country</option>
    <option value=11> @Html.DisplayNameFor(model => model.Customer) </option>
    <option value=12> @Html.DisplayNameFor(model => model.Employee)</option>
    <option value=13>  @Html.DisplayNameFor(model => model.ShipVia) </option>
</select>
</div>
<div class="col-auto my-1">
<input   class="form-control mx-2" type="text" id="myInputSearch" onkeyup="filterTable()" placeholder="Search for names.." title="Type in a name">
</div>
</div>

<div >
     <a asp-action="Create"  type="button" class="btn btn-primary">New Order <i class="bi bi-file-earmark-plus"></i></a> 
</div>
</div>


<table class="table responsive dark table-hover" id="myTable">
    <thead>
        <tr class="table-dark">
            <th>
                Status
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequiredDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Freight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipName)
            </th>
            <th>
                Address
            </th>
            <th>
                City
            </th>
            <th>
                Region
            </th>
            <th>
                Postcode
            </th>
            <th>
                Country
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipVia)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td >
                   
                    <span class='badge @(item.ShippedDate != null ? "bg-success":"bg-danger")'>@(item.ShippedDate != null? "Shipped":"Not")</span>
               
                </td>
                <td>
                    @(item.OrderDate != null ? item.OrderDate.ToString().Substring(1,10) : "Not shipped yet")
                </td>
                <td>
                    @(item.RequiredDate != null ? item.RequiredDate.ToString().Substring(1,10) : "Not shipped yet")
                </td>
                <td>
                    @(item.ShippedDate != null ? item.ShippedDate.ToString().Substring(1,10) : "Not shipped yet")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Freight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipCity)
                </td>
                <td>
                    @(item.ShipRegion != null ? item.ShipRegion : "-")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipPostalCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipCountry)
                </td>
               @*   <td>
                    @Html.DisplayFor(modelItem => item.Customer.ContactName )
                </td>*@
                   <td>
                    @(item.Customer!= null ?  @Html.DisplayFor(modelItem => item.Customer.ContactName ):"-")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipViaNavigation.CompanyName)
                </td>
                <td>
                    <div class="btnsdiv">
                        <a asp-action="Edit" asp-route-id="@item.OrderId" type="button" class="btn btn-warning" data-bs-toggle="tooltip"  data-bs-placement="top" title="Edit"><i class="bi bi-pen"></i></a> 
                        <a asp-action="Delete" asp-route-id="@item.OrderId"  type="button" class="btn btn-danger" data-bs-toggle="tooltip"  data-bs-placement="top" title="Delete"><i class="bi bi-trash2-fill"></i></a>
                        <button id="@item.OrderId" type="button"  class="btn btn-success modalbtn" data-bs-toggle="modal" data-bs-target="#orderModal" data-bs-toggle="tooltip"  data-bs-placement="top" title="Order Details">
  <i class="bi bi-info-circle-fill" id="@item.OrderId"></i>
</button>
                   
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="modal fade" id="orderModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Order Details: <span id="orderID"></span></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body row row-cols-1 row-cols-md-6 g-4 justify-content-center m-3" id="orderModalBody">
         
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary " data-bs-dismiss="modal">Close</button>
       <a id="asporderID" asp-action="OrderDetailCreate" asp-route-id=""  type="button" class="btn btn-primary " data-bs-toggle="tooltip"  data-bs-placement="top" title="Add Products"> <i class="bi bi-plus-circle-fill p-1"></i></a>
      </div>
    </div>
  </div>
</div>


<script src="@Url.Content("~/js/search.js")" ></script>
<script src="@Url.Content("~/js/sorting.js")"></script>
<script src="@Url.Content("~/js/orderModal.js")"></script>

