@model IEnumerable<MVCApp.Data.Order>

@{
    ViewData["Title"] = "Orders";
}

<h1>Orders</h1>
<label>Choose a filter:</label>
<select onchange="onSelect()" id="items">
    <option value=1 selected="selected"> @Html.DisplayNameFor(model => model.OrderDate)</option>
    <option value=2>@Html.DisplayNameFor(model => model.RequiredDate)</option>
    <option value=3>@Html.DisplayNameFor(model => model.ShippedDate) </option>
    <option value=4>@Html.DisplayNameFor(model => model.Freight) </option>
    <option value=5>@Html.DisplayNameFor(model => model.ShipName)</option>
    <option value=6>Address </option>
    <option value=7>City</option>
    <option value=8>Region </option>
    <option value=9> Postcode</option>
    <option value=10> Country</option>
    <option value=11> @Html.DisplayNameFor(model => model.Customer) </option>
    <option value=12> @Html.DisplayNameFor(model => model.Employee)</option>
    <option value=13>  @Html.DisplayNameFor(model => model.ShipVia) </option>
</select>

<input type="text" id="myInput" onkeyup="filterTable()" placeholder="Search for names.." title="Type in a name">
<p>
    <a asp-action="Create" type="button" class="btn btn-primary">Create New</a>
</p>
<table class="table dark table-hover" id="myTable">
    <thead>
        <tr class="table-dark">
            <th>
                Status
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequiredDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Freight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipName)
            </th>
            <th>
                Address
            </th>
            <th>
                City
            </th>
            <th>
                Region
            </th>
            <th>
                Postcode
            </th>
            <th>
                Country
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipVia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td style="@(item.ShippedDate != null ? "color:green;" : "color:red;")">
                    @(item.ShippedDate != null ? "OK" : "NOT")
                </td>
                <td>
                    @(item.OrderDate != null ? item.OrderDate.ToString().Substring(1,10) : "Not shipped yet")
                </td>
                <td>
                    @(item.RequiredDate != null ? item.RequiredDate.ToString().Substring(1,10) : "Not shipped yet")
                </td>
                <td>
                    @(item.ShippedDate != null ? item.ShippedDate.ToString().Substring(1,10) : "Not shipped yet")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Freight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipCity)
                </td>
                <td>
                    @(item.ShipRegion != null ? item.ShipRegion : "-")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipPostalCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipCountry)
                </td>
               @*   <td>
                    @Html.DisplayFor(modelItem => item.Customer.ContactName )
                </td>*@
                   <td>
                    @(item.Customer!= null ?  @Html.DisplayFor(modelItem => item.Customer.ContactName ):"-")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipViaNavigation.CompanyName)
                </td>
                <td>
                    <div class="d-grid gap-2">
                        <a asp-action="Edit" asp-route-id="@item.OrderId" type="button" class="btn btn-warning">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.OrderId" type="button" class="btn btn-success">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.OrderId" type="button" class="btn btn-danger">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


    <script src="~/js/sorting.js" ></script>
    <script src="~/js/search.js" ></script>