@model IEnumerable<MVCApp.Data.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" type="button" class="btn btn-primary">Create New</a>
</p>
<table class="table table-hover">
    <thead>
        <tr class="table-dark">
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Region)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fax)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
         
             <td>
                @(item.City != null ? item.City.ToString() : "-")
            </td>
           <td>
                @(item.Region != null ? item.Region.ToString() : "-")
            </td>
            <td>
                @(item.PostalCode != null ? item.PostalCode.ToString() : "-")
            </td>
             <td>
                @(item.Country != null ? item.Country.ToString() : "-")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fax)
            </td>
            <td>
                <div class="d-grid gap-2">
                <a asp-action="Edit" asp-route-id="@item.CustomerId" type="button" class="btn btn-warning">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.CustomerId" type="button" class="btn btn-success">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.CustomerId" type="button" class="btn btn-danger">Delete</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
